@charset "UTF-8";
section {
  padding: 20px 0;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

section p {
  font-size: 1rem;
  line-height: 1.6;
}

section .job, section .skills, section .hobbies {
  margin-bottom: 20px;
}

section .job h3, section .skills h3, section .hobbies h3 {
  font-size: 1.5rem;
  color: #0056b3;
}

section .job ul, section .skills ul, section .hobbies ul {
  list-style: disc;
  margin-left: 20px;
}

section .job li::marker, section .skills li::marker, section .hobbies li::marker {
  content: '→ ';
  /* Ставим стрелочку */
  color: #0f7cc4;
}

.hobby-icon {
  width: 48px;
  margin-right: 20px;
}
